@(categorySetList: java.util.List[com.ggg.et3.domain.CategorySet], yrmoSet: java.util.List[com.ggg.et3.domain.YearMonth], rptYearMonth: com.ggg.et3.domain.YearMonth, totalExpenses: java.lang.Double )

@reportLayout("Transactions") {
	<div class="subhead">
		TRANSACTIONS FOR @rptYearMonth.getMonthYearString()
		<form action="/expenser/report" method="GET">
        	Choose report to display: 
         	<select name="yearMonth">
        		@for(yrmo <- yrmoSet) {
  					<option value="@yrmo.toString()"  @if(yrmo.toString().equals(rptYearMonth.toString())){ SELECTED }>@yrmo.toString()</option>
				}
			</select>
			<input type="submit" value="Go">
		</form>
	</div>
    <div class="content">
        <table id="tblTrans">
            <colgroup>
                <col width="8%">
                <col width="55%">
                <col width="10%">
                <col width="12%">
                <col width="10%">
            </colgroup>
              <thead>
                <tr>
                	<th class="tableheader" colspan="2"></th>
                	<th class="totalcell" colspan="3">TOTAL EXPENSES: @totalExpenses</th>
                </tr>
            </thead>
          
            <tbody>
            	<tr>
                	<td class="columnheader">Date</td>
                    <td class="columnheader">Description</td>
                    <td class="columnheader">Amount</td>
                    <td class="columnheader">Category</td>
                    <td class="columnheader">Source</td>
                </tr>
                @for(catset <- categorySetList) {
                	@for(tran <- catset.getTranList()) {
                        <tr>
                        	<td>@tran.getTransactionDate()</td>
                            <td>@tran.getDescription()</td>
                            <td class="amount">@tran.getAmount()</td>
                            <td><a href="/expenser/transaction/@tran.getTranId()">@tran.getCategory().getName()</a></td>
                            <td>@tran.getSource()</td>
                        </tr>
                	}
                	<tr class="subtotal">
                        <td colspan="3" class="subtotalcell">@catset.getCategory().getName(): @catset.getCategoryTotal()</td>
                        <td colspan="2"></td>
                    </tr>
                }
            </tbody>
         </table>
    </div>
}

